
.vzb-tool.vzb-portrait {
  .vzb-charts {
    display: grid;
    grid-auto-flow: row;
  }    
}
  
.vzb-tool.vzb-landscape {
  .vzb-charts {
    display: grid;
    grid-auto-flow: column;
  }    
}

.vzb-tool .vzb-charts {
  position: relative;
}

.vzb-tool .vzb-year-label {
  position: absolute;
  pointer-events: none;
  width: 100%;
  text-align: center;
  color: gray;
  font-size: 3vw;
  font-family: monospace;
}

.vzb-tool.vzb-portrait .vzb-year-label {
  top: calc(50% - 0.5em);
}

.vzb-tool.vzb-landscape .vzb-year-label {
  top: calc(26% - 0.5em);
}

.vzb-tool .vzb-big-arrow {
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  svg {
    display: block;
    margin: auto;
    path {stroke: grey; stroke-width: 5px; fill: transparent;}
  }
}

.vzb-tool.vzb-portrait {
  .vzb-big-arrow {
    width: 100%;
    height: 100%;
    svg {
      height: 12%;
      transform: rotate(180deg) scale(2, 1); transform-origin: 50% 50%;
    }
  }    
}
  
.vzb-tool.vzb-landscape {
  .vzb-big-arrow {
    width: 100%;
    height: 100%;
    svg {
      width: 6%;
      path {transform: rotate(90deg); transform-origin: 50% 50%;}
    }
  }    
}